<div class="container">
	<br>
	<div class="card text-center">
		<div class="card-header">
    		<h2>Modifier un commentaire</h2>
  		</div>
  		<div class="card-body">
			<%= simple_form_for [@tome, @review] do |f| %>
				<%= f.input :rating %>
				<%= f.input :description %>
			<%= f.submit %>
			<% end %>
		</div>
	</div>
</div>